


/* .container{
  width: 100%;
  
}
.list{
    list-style: none;
   margin: 0%;
    padding: 0%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .lists{
    position: relative;
    display: inline-block;
  }
  .lists > li{
    color: white;
    width: 100px;
    height: 40px;
    background-color: #000000;
    opacity: .8;
    line-height: 40px;
    text-align: center;
  }
  .lists > Link{
    text-decoration: none;
    color: white;
    display: block;
  }

  .lists ul li ul li {
    display: none;
  }
  .dropbtn {
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: none;
    margin-top: 0%;
   
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
      margin-top: 10px;
    display: none;
    font-size: 14px;
    position: unset;
    background-color: #f1f1f1;
    min-width: 120px;
  
 
  }
  
  .dropdown-content a {
      background-color: rgb(134, 206, 134);
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgb(230, 227, 227);}
  
  .dropdown:hover .dropdown-content {display: block;} */
